
.reason
{
    
height: 433px;

background: #FFFFFF;
/* background-color: burlywood; */
}

.text {
    
height: 42px;


/* Heading/4 */

font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;

/* Neutral/800 */
background-color: aqua;
color: #292E3D;
margin-top: 5%;

}

.card_1
{
    display: flex;
    justify-content: space-evenly;
    /* background-color: aqua; */
    margin-right: 5%;
    margin-top: 5%;
}
.grid1
{
    /* background-color: yellow; */
}
